:root{
  --fuentePrincipal:"Playfair Display", serif;
  --cursiva: "Pinyon Script", cursive;
  --fuenteSecundaria:"Poppins", sans-serif;
  --color_principal:#ca949c; /* cc808b */
  --color_secundario:#d8c9ba;
  --color_text:#8cb2b0;
  --color_card:#f1d2d3; /* fae6e7 */
  --back-color:#f3e1e1;
  --grisSombra: #bdbdbd;
  --black:#000000;
  --white:#fff;
}

body{
  height: 100vh;
  margin: 0; 
  background-color:var(--back-color);
  font-family: var(--fuentePrincipal);
  font-size: 20px;
  color: var(--color_text);
  
}

h1,h2,h3,p{
  margin: 0;
}
button{
  border:none;
}
a{
  text-decoration: none;
}
.centrar{
  width: 90%;
  margin: 0 auto;
}
.sombra{
  box-shadow: 10px 10px 10px var(--grisSombra);
}

.notfound{
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notfound p{
  font-size: 20px;
}

.banner-img{
  margin-top: 30px;
  margin-bottom: -55px;
  
}
.banner{
  width: 100%;
}
.banner-img img,
.banner img{
  max-width: 100%;
}

